*.swp
*.swo
*.pyc
.coverage
.idea/*
.idea
.tmp/*
.ssh/pk
SHOC/www/autorde
IpMainInterface.txt
rdemanager/*.pyc
rdemanager/.idea/*
rdemanager/.idea
rdeupdater/.core/status
rdeupdater/.core/status/*
!rdeupdater/.core/status/.placeholder
rdeupdater/.post/var/log
rdeupdater/.post/var/log/*
!rdeupdater/.post/var/log/.placeholder
rdeupdater/.core/var/log/*
rdeupdater/.core/var/log
!rdeupdater/.core/var/log/.placeholder
rdeupdater/.core/var/lock
rdeupdater/.core/var/lock/*
!rdeupdater/.core/var/lock/.placeholder
rdeupdater/extension
rdeupdater/extension/*
!rdeupdater/extension/.placeholder
!rdeupdater/.ssh/.placeholder
!rdeupdater/.ssh/.pk
!rdeupdater/.ssh/git-ssh.sh
!rdeupdater/extension/README
extension/*
extension/.log
extension/.log/*
!extension/.log/.placeholder
!extension/.placeholder
!extension/README
extension/.lock/*
extension/.lock
!extension/.lock/.placeholder
statistic/*
!statistic/.placeholder
packer/ubuntu-14.04/packer_cache/*
!packer/ubuntu-14.04/packer_cache/.placeholder
packer/ubuntu-14.04/output-virtualbox-iso/*
packer/ubuntu-14.04/*.box
packer/ubuntu-14.04/*.tar
packer/ubuntu-14.04/*.gz
packer/ubuntu-14.04/packer_ubuntu_1404/*
packer/ubuntu-14.04/*.ova
packer/ubuntu-14.04/*.ovf
packer/ubuntu-14.04/*.vmdk
